.shop-page{
    background-image: url(../../../assets/photos/shopbackground.png);
    width: 100%;
    padding: 120px 0;
    background-color: #e3f1e97c;
    text-align: center;

}

.shop-product-grid{
    width: 70%;
    padding: 70px 0 ;
    margin: auto;
    .s4-bottom{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        gap: 40px 20px;
        .product-cart{
            display: inline-block;
            background: #F9F8F8;
            border-radius: 30px;
            .protitle{
                padding: 29px 30px 13px;
                p{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 5px 12px 6px;
                    gap: 10px;

                    width: 96px;
                    height: 31px;

                    background: #274C5B;
                    border-radius: 8px;
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 20px;
                    text-align: center;

                    color: #FFFFFF;
                }
            
            }
            .proimage{
                img{
                    width: 100%;
                }
            }
            .prodesc{
                padding:0 30px 29px ;
                .pd-top{
                    padding: 0 0 13px 0;
                    border-bottom: 1px solid #DEDDDD;
                    margin: 0 0 6px 0;
                    p{
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 23px;

                        color: #274C5B;

                    }
                }
                .pd-bottom{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .pdbl{
                        span{font-family: 'Open Sans';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 15px;
                            line-height: 20px;
                            text-align: center;
                            
                            color: #B8B8B8;
                            margin: 0 8px 0 0;
                            }
                            font-family: 'Open Sans';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 25px;
                            /* identical to box height */

                            text-align: center;

                            color: #274C5B;
                    }
                }
                .pdbr{
                    .pd-star{
                        i{
                            color: #FFA858;
                            font-size: 15px;
                          
                        }
                    }
                }
            }
        }
    }
}